In [92]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

# Reading Toronto postal code file data into a dataframe

In [93]:
df_tor = pd.read_excel('Toronto_postalcodes.xlsx')

# Ignore cells with a borough that is Not assigned.

In [94]:
df_tor = df_tor[df_tor.Neighborhood.notnull()]

# Displaying dataframe

In [95]:
df_tor.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# Print the number of rows

In [96]:
df_tor.shape

(103, 3)

# Read file with coordinates into a dataframe

In [97]:
df_cor = pd.read_csv('Geospatial_Coordinates.csv')
df_cor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Add Latitude & longitude columns to Toronto Dataframe

In [98]:
df_tor['Latitude'] =""

In [99]:
df_tor['Longitude'] =""

In [100]:
df_tor = df_tor.set_index("Postal code").sort_index()

In [101]:
df_tor.head()

,Borough,Neighborhood,Latitude,Longitude
Postal code,,,,
M1B,Scarborough,Malvern / Rouge,,
M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,,
M1E,Scarborough,Guildwood / Morningside / West Hill,,
M1G,Scarborough,Woburn,,
M1H,Scarborough,Cedarbrae,,

In [102]:
df_cor = df_cor.set_index("Postal Code").sort_index()

In [103]:
df_cor.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [104]:
df_tor['Latitude'] = np.where(df_tor.index == df_cor.index, df_cor['Latitude'], "")

In [105]:
df_tor['Longitude'] = np.where(df_tor.index == df_cor.index, df_cor['Longitude'], "")

In [109]:
df_tor.head()

,Borough,Neighborhood,Latitude,Longitude
Postal code,,,,
M1B,Scarborough,Malvern / Rouge,43.806686299999996,-79.19435340000001
M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.7845351,-79.16049709999999
M1E,Scarborough,Guildwood / Morningside / West Hill,43.7635726,-79.1887115
M1G,Scarborough,Woburn,43.7709921,-79.21691740000001
M1H,Scarborough,Cedarbrae,43.773136,-79.23947609999999

In [113]:
df_tor = df_tor.reset_index()

In [114]:
df_tor.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686299999996,-79.19435340000001
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.7845351,-79.16049709999999
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.7635726,-79.1887115
3,M1G,Scarborough,Woburn,43.7709921,-79.21691740000001
4,M1H,Scarborough,Cedarbrae,43.773136,-79.23947609999999